asgiref
CacheControl
cachetools
certifi
cffi
chardet
click
colorama
Django
dlib
face-recognition
face-recognition-models
firebase-admin
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
gunicorn
httplib2
idna
msgpack
numpy
opencv-python
packaging
pandas
Pillow
proto-plus
protobuf
pyasn1
pyasn1-modules
pycparser
pyparsing
python-dateutil
pytz
requests
rsa
six
sqlparse
typing-extensions
uritemplate
urllib3
whitenoise
opencv-python-headless